.menu{
    background-color: rgb(17, 179, 238);
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
}

.body{
    position: absolute;
    height: 80%;
    width: 100%;
    top: 10%;
}

.footer{
    background-color: cadetblue;
    position: absolute;
    height: 10%;
    width: 100%;
    bottom: 0px;
}