<div class="container">
    <table class="table table-striped mt-4">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Tipo de logro</th>
          <th>Tiempo semanal</th> 
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let logro of listalogros">
          <td>{{ logro.id }}</td>
          <td>{{ logro.tipoLogro }}</td>
          <td>{{ logro.tiempoSemanal }}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="editarLogros(logro.id)">Editar</button>
            <button type="button" class="btn btn-danger mr-2" (click)="eliminarLogros(logro.id)">Eliminar</button>

          </td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success" (click)="agregarLogros()">Crear tipo de logro</button>
  </div>
  
